<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
		
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="login100-form validate-form p-l-55 p-r-55 p-t-170">
					<span class="login100-form-title">
						Login LTS
					</span>
					<% if notice %>
						<p class="alert alert-success"><%= notice %></p><br><br>
					<% end %>
					<% if alert %>
						<p class="alert alert-danger"><%= alert %></p><br><br>
					<% end %>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input100", :placeholder => "E-mail" %>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Please enter password">
						<%= f.password_field :password, autocomplete: "current-password", :class => "input100", :placeholder => "Senha" %>
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-23"></div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Logar
						</button>
					</div>

					<div class="flex-col-c p-t-100 p-b-40">

					<%= render "devise/shared/links" %> 
					</div>
				</div>	
			<% end %>
		</div>
	</div>
</div>