<p id="notice"><%= notice %></p>

<p>
  <strong>Nome comercial:</strong>
  <%= @paf_ecf.nome_comercial %>
</p>

<p>
  <strong>Idetificacao versao:</strong>
  <%= @paf_ecf.idetificacao_versao %>
</p>

<p>
  <strong>Identificacao executavel principal:</strong>
  <%= @paf_ecf.identificacao_executavel_principal %>
</p>

<p>
  <strong>Linguagem:</strong>
  <%= @paf_ecf.linguagem %>
</p>

<p>
  <strong>X linux:</strong>
  <%= @paf_ecf.x_linux %>
</p>

<p>
  <strong>X mac:</strong>
  <%= @paf_ecf.x_mac %>
</p>

<p>
  <strong>X windows:</strong>
  <%= @paf_ecf.x_windows %>
</p>

<p>
  <strong>Gerenciador db:</strong>
  <%= @paf_ecf.gerenciador_db %>
</p>

<p>
  <strong>Tipo desenvolvimento:</strong>
  <%= @paf_ecf.tipo_desenvolvimento %>
</p>

<p>
  <strong>X funcionamento stand alone:</strong>
  <%= @paf_ecf.x_funcionamento_stand_alone %>
</p>

<p>
  <strong>X funcionamento rede:</strong>
  <%= @paf_ecf.x_funcionamento_rede %>
</p>

<p>
  <strong>X funcionamento parametrizavel:</strong>
  <%= @paf_ecf.x_funcionamento_parametrizavel %>
</p>

<p>
  <strong>X sintegra paf:</strong>
  <%= @paf_ecf.x_sintegra_paf %>
</p>

<p>
  <strong>X sintegra retaguarda:</strong>
  <%= @paf_ecf.x_sintegra_retaguarda %>
</p>

<p>
  <strong>X sintegra ped:</strong>
  <%= @paf_ecf.x_sintegra_ped %>
</p>

<p>
  <strong>Integracao paf:</strong>
  <%= @paf_ecf.integracao_paf %>
</p>

<p>
  <strong>X imp concomitante:</strong>
  <%= @paf_ecf.x_imp_concomitante %>
</p>

<p>
  <strong>X imp nao concomitante:</strong>
  <%= @paf_ecf.x_imp_nao_concomitante %>
</p>

<p>
  <strong>X imp prevenda:</strong>
  <%= @paf_ecf.x_imp_prevenda %>
</p>

<p>
  <strong>X imp conta cliente:</strong>
  <%= @paf_ecf.x_imp_conta_cliente %>
</p>

<p>
  <strong>X imp dav sem impressao:</strong>
  <%= @paf_ecf.x_imp_dav_sem_impressao %>
</p>

<p>
  <strong>X imp dav impressora nao fiscal:</strong>
  <%= @paf_ecf.x_imp_dav_impressora_nao_fiscal %>
</p>

<p>
  <strong>X  imp dav impressora fiscal:</strong>
  <%= @paf_ecf.x__imp_dav_impressora_fiscal %>
</p>

<p>
  <strong>Tratamento interrupcao:</strong>
  <%= @paf_ecf.tratamento_interrupcao %>
</p>

<%= link_to 'Edit', edit_paf_ecf_path(@paf_ecf) %> |
<%= link_to 'Back', paf_ecfs_path %>
