<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @homologation.titulo %>
</p>

<p>
  <strong>Compani:</strong>
  <%= @homologation.compani %>
</p>

<%= link_to 'Edit', edit_homologation_path(@homologation) %> |
<%= link_to 'Back', homologations_path %>
